footer {
    background-color: #cdcdcd4a;
    padding-top: 20px;
    #div-width {
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 450px) {
            padding-bottom: 30px;
            padding-top: 10px;
        }
        #mini-div {
            display: flex;
            .div-i {
                height: 60px;
                width: 60px;
                border-radius: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
                @media screen and (max-width: 980px) {
                    margin-right: 80px;
                }
                @media screen and (max-width: 700px) {
                    margin-right: 20px;
                }
                &:hover {
                    border: #007aff 1px solid;
                }
                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 55px;
                    width: 55px;
                    cursor: pointer;
                    font-size: 2rem;
                    color: white;
                    padding: 10px;
                    border-radius: 300px;
                    &:hover {
                        border: white solid 2px;
                    }
                }
                .fa-square-facebook {
                    background-color: #3b5998;
                }
                .fa-instagram {
                    background-color: purple;
                }
                .fa-snapchat {
                    background-color: #fffc00;
                    color: black;
                }
            }
        }
    }
    #big-div {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin-top: 40px;
        padding-left: 30px;
        padding-right: 30px;
        @media screen and (max-width: 980px) {
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
        }
        @media screen and (max-width: 450px) {
            display: none;
        }
        .each-column {
            @media screen and (max-width: 980px) {
                padding-left: 110px;
                margin-bottom: 20px;
            }
            @media screen and (max-width: 850px) {
                padding-left: 80px;
            }
            @media screen and (max-width: 700px) {
                padding-left: 50px;
                margin-bottom: 30px;
            }
            @media screen and (max-width: 530px) {
                padding-left: 30px;
            }
            @media screen and (max-width: 400px) {
                padding-left: 10px;
            }
            h4 {
                font-size: 1rem;
                margin-bottom: 20px;
                color: rgb(94, 94, 94);
            }
            p {
                font-size: 0.8rem;
                line-height: 30px;
                color: rgb(145, 145, 145);
                &:hover {
                    color: #007aff;
                }
                @media screen and (max-width: 980px) {
                    line-height: normal;
                }
            }
            #choose-country {
                display: grid;
                grid-template-columns: 40% 30%;
                @media screen and (max-width: 1250px) {
                    grid-template-columns: 50% 50%;
                }
                @media screen and (max-width: 1020px) {
                    grid-template-columns: 100%;
                    grid-template-rows: 50% 50%;
                }
                #left {
                    display: flex;
                    p {
                        margin-right: 20px;
                    }
                    #div-image {
                        margin: auto 0;
                        height: 20px;
                        width: 20px;
                        border-radius: 300px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: solid #c0baba78 1px;
                        &:hover {
                            border: #007aff solid 1px;
                            cursor: pointer;
                        }
                        img {
                            height: 15px;
                            width: 15px;
                            border-radius: 300px;
                            border: 1px #c0baba78 solid;
                        }
                    }
                }
                #right {
                    @media screen and (max-width: 1020px) {
                        display: none;
                    }
                    display: flex;
                    align-items: center;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        height: 15px;
                        width: 2px;
                        background-color: rgb(145, 145, 145);
                        left: -7%;
                        @media screen and (max-width: 1250px) {
                            display: none;
                        }
                    }
                    p {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    #last-mini-div {
        @media screen and (max-width: 500px) {
            display: none;
        }
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
        display: flex;
        background-color: #9b9b9b4a;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        p {
            color: rgb(145, 145, 145);
            font-size: 0.7rem;
            font-weight: bold;
        }
        #other {
            display: flex;
            p {
                font-size: 0.7rem;
                border-right: solid 1px rgb(145, 145, 145);
                padding: 0 10px;
                font-weight: bold;
                &:hover {
                    color: #007aff;
                }
            }
            p:nth-child(4) {
                border-right: none;
            }
        }
    }
}