header {
    #ul-one {
        height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media screen and (max-width: 900px) {
            display: none;
        }
        li {
            font-size: 0.8rem;
            border-left: solid #c0baba 1px;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 15px;
            color: #7a7a7a;
            cursor: pointer;
            &:hover {
                color: #007aff;
            }
            div {
                height: 20px;
                width: 20px;
                border-radius: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid #c0baba78 1px;
                &:hover {
                    border: #007aff solid 1px;
                }
                img {
                    height: 15px;
                    width: 15px;
                    border-radius: 300px;
                    border: 1px #c0baba78 solid;
                }
            }
        }
        #li-three {
            margin-right: 60px;
            border-right: #c0baba solid 1px;
        }
    }
    #ul-two {
        background-color: #323131;
        height: 58px;
        color: white;
        display: grid;
        grid-template-columns: 32% 55% 13%;
        align-items: center;
        @media screen and (max-width: 900px) {
            grid-template-columns: 32% 40% 28%;
        }
        @media screen and (max-width: 800px) {
            grid-template-columns: 30% 30%;
            justify-content: space-between;
        }
        @media screen and (max-width: 580px) {
            grid-template-columns: 45% 40%;
        }
        @media screen and (max-width: 450px) {
            grid-template-columns: 100%;
        }
        li {
            display: flex;
            height: 100%;
        }
        #mediascreen {
            @media screen and (max-width: 1150px) {
                display: grid;
            }
            display: none;
            grid-template-columns: 30% 70%;
            #menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                span {
                    width: 40%;
                    background-color: white;
                    border-radius: 10px;
                    height: 4px;
                    margin-bottom: 6px;
                }
            }
            #name-brand-mediascreen {
                color: white;
                display: flex;
                align-items: center;
                margin-left: 20px;
                font-size: 1.8rem;
            }
        }
        #first-li {
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            @media screen and (max-width: 1150px) {
                display: none;
            }
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                font-weight: bold;
            }
            #name-brand {
                font-weight: bold;
                letter-spacing: -2px;
                font-size: 1.7rem;
                border-right: #616161 solid 1px;
                &:hover {
                    color: white;
                }
            }
            #women {
                letter-spacing: 2px;
                &:hover {
                    background-color: #666;
                    letter-spacing: 2px;
                    color: white;
                }
            }
            #men {
                background-color: #666;
                letter-spacing: 2px;
                &:hover {
                    color: white;
                }
            }
        }
        #second-li {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            @media screen and (max-width: 800px) {
                display: none;
            }
            #div-input {
                width: 90%;
                height: 70%;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                input {
                    outline: none;
                    border:none;
                    width: 90%;
                    height: 90%;
                    @media screen and (max-width: 900px) {
                        border-radius: 300px;
                    }
                    &:focus {
                        border: none;
                    }
                }
                i {
                    color: black;

                }
            }
        }
        #third-li {
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            align-items: center;
            @media screen and (max-width: 800px) {
                grid-template-columns: 25% 25% 25% 25%;
            }
            @media screen and (max-width: 450px) {
                display: none;
            }
            #research-mediascreen {
                display: none;
                @media screen and (max-width: 800px) {
                    display: flex;
                    cursor: pointer;
                }
            }
            div {
                height: 100%;
                i {
                    font-size: 1.7rem;
                    cursor: pointer;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .fa-user {
                    position: relative;
                    &:hover > #user-hover-global{
                        display: flex;
                        flex-direction: column;
                        transition: all 2s ease-out;
                    }
                    #user-hover-global {
                        z-index: 1000;
                        position: absolute;
                        display: none;
                        color: black;
                        left: -510%;
                        top: 100%;
                        width: 700%;
                        font-size: 0.9rem;
                        height: 293px;

                        #top {
                            display: flex;
                            height: 21%;
                            justify-content: space-between;
                            background-color: #e6e6e6;
                            #connexion {
                                display: flex;
                                align-items: center;
                                padding-left: 15px;
                                p {
                                    font-size: 0.9rem;
                                    text-decoration: underline;
                                }
                                #p-1 {
                                    border-right: solid 1px black;
                                    padding-right: 10px;
                                }
                                #p-2 {
                                    padding-left: 10px;
                                }
                            }
                            #cross {
                                padding-right: 15px;
                                i {
                                    font-size: 1.5rem;
                                    &:hover {
                                        color: #007aff;
                                    }
                                }
                            }
                        }
                        #bottom {
                            background-color: white;
                            display: grid;
                            grid-template-rows: 20% 20% 20% 20% 20%;
                            .list-user {
                                display: flex;
                                padding-left: 30px;
                                align-items: center;
                                font-size: 0.9rem;
                                &:hover {
                                    color: #007aff;
                                }
                                i {
                                    margin-right: 20px;
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #ul-three {
        display: flex;
        height: 51px;
        background-color: #666;
        color: white;
        @media screen and (max-width: 980px) {
            display: none;
        }
        .red-li {
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            background-color: #d01345;
            font-weight: bold;
            font-size: 0.8rem;
            &:hover {
                clip-path: none;
            }
        }
        li {
            position: relative;
            width: 100%;
            height: 100%;
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                color: black;
                background-color: rgb(238,238,238);
            }
        }
        #li-1 {
            &:hover > #global-hover-one{
                display: grid;
                grid-template-columns: 20% 20% 30% 30%;
                align-items: center;
                
            }
            #global-hover-one {
                z-index: 3;
                display: none;
                position: absolute;
                color: black;
                top: 51px;
                left: 86px;
                width: 620%;
                background-color: rgb(238,238,238);
                height: 900%;
                @media screen and (max-width: 1100px) {
                    width: 10000%;
                    left: 0px;
                    height: 1320%;
                }
                @media screen and (max-width: 1200px) {
                    width: 400%;
                    height: 1300%;
                }
                .column-hover-one {
                    padding: 0 40px;
                    height: 80%;
                    h4 {
                        text-decoration: underline;
                        font-size: 0.9rem;
                        font-weight: bold;
                        letter-spacing: 1px;
                        margin-bottom: 15px;
                    }
                    p {
                        font-size: 0.8rem;
                        font-weight: lighter;
                        letter-spacing: 0.5px;
                        line-height: 25px;
                    }
                }
                .two {
                    margin-top: 63px;
                }
                .three {
                    border-right: solid 1px grey;
                    border-left: solid 1px grey;
                }
                .for {
                    #span1 {
                        display: flex;
                        margin-top: 40px;
                        span {
                            margin-right: 50px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            img {
                                height: 80px;
                                width: 80px;
                                border-radius: 800px;
                                object-fit: cover;
                                border: #616161 solid 1px;
                                padding: 3px;
                                &:hover {
                                    border: 1px solid #007aff;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
        #li-2 {
            @media screen and (max-width: 1100px) {
                display: none;
            }
            &:hover > #global-hover-two{
                display: grid;
                grid-template-columns: 22% 78%;
                align-items: center;
            }
            #global-hover-two {
                z-index: 3;
                display: none;
                position: absolute;
                background-color: rgb(238,238,238);
                color: black;
                top: 51px;
                left: -105px;
                height: 850%;
                width: 610%;
                .column-hover-two {
                    padding: 0 40px;
                    height: 80%;
                    h4 {
                        text-decoration: underline;
                        font-size: 0.9rem;
                        font-weight: bold;
                        letter-spacing: 1px;
                        margin-bottom: 15px;
                    }
                    p {
                        font-size: 0.8rem;
                        font-weight: lighter;
                        letter-spacing: 0.5px;
                        line-height: 25px;
                    }
                    #div-image {
                        display: grid;
                        grid-template-columns: 33.33% 33.33% 33.33%;
                        .container {
                            position: relative;
                            img {
                                height: 320px;
                                width: 80%;
                                border-radius: 5px;
                                object-fit: cover;
                                padding: 3px;
                                border: solid rgba(192, 186, 186, 0.4705882353) 1px;
                                &:hover {
                                    border: #007aff 1px solid;
                                    padding: 3px;
                                    cursor: pointer;
                                }
                            }
                            #text-image1 {
                                text-align: center;
                                position: absolute;
                                top: 80%;
                                left: 29%;
                                font-weight: bold;
                                letter-spacing: 1px;
                                font-size: 0.9rem;
                                color: white;
                            }
                            #text-image2 {
                                text-align: center;
                                position: absolute;
                                top: 80%;
                                left: 15%;
                                font-weight: bold;
                                letter-spacing: 1px;
                                font-size: 0.9rem;
                                color: white;
                            }
                            #text-image3 {
                                text-align: center;
                                position: absolute;
                                top: 80%;
                                left: 13%;
                                font-weight: bold;
                                letter-spacing: 1px;
                                font-size: 0.9rem;
                                color: white;
                            }
                        }
                    }
                }
                .two-two {
                    border-left: grey 1px solid;
                }
            }
        }
        #li-3 {
            &:hover > #global-hover-three {
                display: grid;
                grid-template-columns: 20% 20% 30% 30%;
                align-items: center;
            }
            #global-hover-three {
                z-index: 3;
                display: none;
                position: absolute;
                background-color: rgb(238,238,238);
                color: black;
                top: 51px;
                left: -297px;
                height: 850%;
                width: 620%;
                @media screen and (max-width: 1100px) {
                    height: 1000%;
                    left: -300px;
                    width: 270%;
                }
                .column-hover-three {
                    padding: 0 40px;
                    height: 80%;
                    h4 {
                        text-decoration: underline;
                        font-size: 0.9rem;
                        font-weight: bold;
                        letter-spacing: 1px;
                        margin-bottom: 15px;
                    }
                    p {
                        font-size: 0.8rem;
                        font-weight: lighter;
                        letter-spacing: 0.5px;
                        line-height: 25px;
                    }
                    #span3 {
                        display: flex;
                        margin-top: 40px;
                        span {
                            margin-right: 50px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            img {
                                height: 80px;
                                width: 80px;
                                border-radius: 800px;
                                object-fit: cover;
                                border: #616161 solid 1px;
                                padding: 3px;
                                &:hover {
                                    border: 1px solid #007aff;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    #image-global3 {
                        height: 60%;
                        display: grid;
                        grid-template-rows: 25% 25% 25% 25%;
                        .div-image3 {
                            display: grid;
                            grid-template-columns: 30% 40%;
                            height: 100%;
                            align-items: center;
                            &:hover {
                                color: #007aff;
                                cursor: pointer;
                            }
                            img {
                                height: 42px;
                                width: 42px;
                                object-fit: cover;
                                padding: 3px;
                                border-radius: 300px;
                                margin-right: 20px;
                                border: 1px solid #c0baba;
                                &:hover {
                                    border: 1px solid #007aff;
                                    cursor: pointer;
                                }
                            }
                            h5 {
                                height: 100%;
                                display: flex;
                                align-items: center;
                                font-size: 0.9rem;
                                font-weight: lighter;
                            }
                            #h5-2 {
                                border-top: 1px solid #c0baba;
                                border-bottom: 1px solid #c0baba;
                            }
                            #h5-3 {
                                border-bottom: 1px solid #c0baba;
                            }
                        }
                    }
                }
                .column-hover-three:nth-child(3) {
                    border-right: 1px solid grey;
                    border-left: 1px solid grey;
                }
                .column-hover-three:nth-child(2) {
                    margin-top: 60px;
                }
            }
    }
    #li-4 {
        @media screen and (max-width: 1200px) {
            display: none;
        }
        &:hover > #global-hover-four {
            display: grid;
            grid-template-columns: 25% 25% 50%;
            align-items: center;
        }
        #global-hover-four {
            z-index: 3;
            display: none;
            position: absolute;
            background-color: rgb(238,238,238);
            color: black;
            top: 51px;
            left: -490px;
            height: 850%;
            width: 620%;
            .column-hover-four {
                padding: 0 40px;
                height: 80%;
                h4 {
                    text-decoration: underline;
                    font-size: 0.9rem;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 0.8rem;
                    font-weight: lighter;
                    letter-spacing: 0.5px;
                    line-height: 25px;
                }
                #image-global4 {
                        height: 90%;
                        display: grid;
                        grid-template-rows: 18% 18% 18% 18% 18%;
                        justify-content: space-evenly;

                    .div-image4 {
                            display: grid;
                            grid-template-columns: 30% 40%;
                            height: 100%;
                            align-items: center;
                            img {
                                height: 42px;
                                width: 42px;
                                object-fit: cover;
                                padding: 3px;
                                border-radius: 300px;
                                margin-right: 20px;
                                border: 1px solid #c0baba;
                                &:hover {
                                    border: 1px solid #007aff;
                                    cursor: pointer;
                                }
                            }
                            h5 {
                                font-size: 0.7rem;
                                margin-left: 15px;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                font-size: 0.9rem;
                                font-weight: lighter;
                                border-bottom: #c0baba solid 1px;
                            }
                    }
                }
                #div-image44 {
                    display: grid;
                        grid-template-columns: 50% 50%;
                        .container4 {
                            position: relative;
                            img {
                                height: 320px;
                                width: 90%;
                                border-radius: 5px;
                                object-fit: cover;
                                padding: 3px;
                                border: solid rgba(192, 186, 186, 0.4705882353) 1px;
                                &:hover {
                                    border: #007aff 1px solid;
                                    padding: 3px;
                                    cursor: pointer;
                                }
                            }
                            #text-image2-1  {
                                text-align: center;
                                position: absolute;
                                top: 80%;
                                left: 29%;
                                font-weight: bold;
                                letter-spacing: 1px;
                                font-size: 0.9rem;
                                color: white;
                            }
                            #text-image2-2 {
                                text-align: center;
                                position: absolute;
                                top: 80%;
                                left: 15%;
                                font-weight: bold;
                                letter-spacing: 1px;
                                font-size: 0.9rem;
                                color: white;
                            }
                        }
                }
                
            }
            .column-hover-four:nth-child(1) {
                border-right: 1px solid grey;
            }
            .column-hover-four:nth-child(2) {
                border-right: 1px solid grey;
            }
        }
}
#li-5 {
    &:hover > #global-hover-five {
        display: grid;
        grid-template-columns: 35% 35%;
        align-items: center;
        justify-content: space-evenly;
    }
    #global-hover-five {
            z-index: 3;
            display: none;
            position: absolute;
            background-color: rgb(238,238,238);
            color: black;
            top: 51px;
            left: -685px;
            height: 850%;
            width: 380%;
            .column-hover-five {
                padding: 0 40px;
                height: 80%;
                h4 {
                    text-decoration: underline;
                    font-size: 0.9rem;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 0.8rem;
                    font-weight: lighter;
                    letter-spacing: 0.5px;
                    line-height: 25px;
                }
            }
            .column-hover-five:nth-child(1) {
                border-right: 1px solid grey;
                padding-right: 50px;
            }
            .column-hover-five:nth-child(2) {
                margin-left: -30px;
            }
    }
}
#li-6 {
    @media screen and (max-width: 1100px) {
        display: none;
    }
    &:hover > #global-hover-six {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        align-items: center;
    }
    #global-hover-six {
            z-index: 3;
            display: none;
            position: absolute;
            background-color: rgb(238,238,238);
            color: black;
            top: 51px;
            left: -880px;
            height: 850%;
            width: 620%;
            @media screen and (max-width: 1300px) {
                width: 400%;
            }
            .column-hover-six {
                padding: 0 40px;
                height: 80%;
                h4 {
                    text-decoration: underline;
                    font-size: 0.9rem;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 0.8rem;
                    font-weight: lighter;
                    letter-spacing: 0.5px;
                    line-height: 25px;
                }
            }
    }
}
#li-7 {
    @media screen and (max-width: 1200px) {
        display: none;
    }
    &:hover > #global-hover-seven {
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        align-items: center;
        justify-content: space-evenly;

    }
    #global-hover-seven {
        z-index: 3;
            display: none;
            position: absolute;
            background-color: rgb(238,238,238);
            color: black;
            top: 51px;
            left: -1070px;
            height: 650%;
            width: 620%;
        .div-each-seven {
            cursor: pointer;
            margin-top: 120px;
            height: 100%;
            .global-each-container {
                height: 220px;
                display: grid;
                grid-template-rows: 70% 30%;

                .container-seven {
                    position: relative;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        filter: hue-rotate(80deg);
                    }
                    .text-image7 {
                        position: absolute;
                        color: white;
                        font-size: 1.1rem;
                        font-weight: bold;
                        top: 70%;
                        left: 5%;
                    }
                }
                .bottom-text {
                    background-color: white;
                    p {
                        padding-top: 15px;
                        text-align: center;
                        &:hover {
                            color:#007aff;
                        }
                    }
                }
            }
        }
}
}

}
}



/*

#li-7 {
    &:hover > #global-hover-seven {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        align-items: center;
    }
    #global-hover-seven {
        z-index: 3;
        display: none;
        position: absolute;
        background-color: rgb(238,238,238);
        color: black;
        top: 51px;
        left: 90px;
        height: 50%;
        width: 20%;
        .div-each-seven {
            height: 80%;
            .global-each-container {
                height: 220px;
                display: grid;
                grid-template-rows: 70% 30%;

                .container-seven {
                    position: relative;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .text-image7 {
                        position: absolute;
                    }
                }
                .bottom-text {
                    p {

                    }
                }
            }
        }
}
}
*/